body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*.. 
/* hero section start */
.bg-primary-subtle {
  background-color: #6c5ce7 !important;
}

.hero-contents {
  text-align: justify;
}

.fa-brands {
  color: #6c5ce7 !important;
  font-size: 1.2rem;
}

a:hover > .fa-brands {
  color: white !important;
  font-size: 1.2rem;
  transition: all 0.1s ease-in-out;
}

.hero-btn {
  background-color: #6c5ce7 !important;
}
/*.. 
/* hero section end */

/*.. 
/* features product section start */

.forSame-color {
  color: #6c5ce7 !important;
}
/* features product section end */

/* New Arrival Section Start  */

.img-fluids {
  max-width: 60%;
  max-height: 60%;
}
/* New Arrival Section end  */

/*..
/* New Arrival Section Start  */

.borders {
  border: 3px solid #6c5ce7;
}

/* footer section start  */
footer {
  background-color: #6c5ce8e3 !important;
  color: white;
}

.list-unstyled li a {
  text-decoration: none;
  /* color: rgb(74, 70, 195); */
  transition: all 0.5s ease-in-out;
}

.list-unstyled li a:hover {
  text-decoration: underline;
  font-size: 20px;
  color: white;
}
/* footer section end  */

/* toastr section start */
.text-warnings {
  color: #ccf1eb;
  font-weight: bold;
  text-align: left;
  /* float: left; */
}

.toastr {
  transform: translateY(78px);
}

/* hero section start */
/* // */
.heroSection-color {
  background-color: rgb(218, 234, 234) !important;
}

@media screen and (max-width: 1750px) {
  .heroSection-svg {
    margin-top: -275px;
  }
  .heroSection-hr {
    margin-top: 2px;
  }
}

@media screen and (max-width: 1600px) {
  .heroSection-svg {
    margin-top: -260px;
  }
  .heroSection-hr {
    margin-top: 2px;
  }
}

@media screen and (max-width: 1520px) {
  .heroSection-svg {
    margin-top: -258px;
  }
  .heroSection-hr {
    margin-top: 2px;
  }
}

@media screen and (max-width: 1450px) {
  .heroSection-svg {
    margin-top: -247px;
  }
  .heroSection-hr {
    margin-top: 2px;
  }
}

@media screen and (max-width: 1400px) {
  .heroSection-svg {
    margin-top: -235px;
  }
  .heroSection-hr {
    margin-top: 2px;
  }
}

@media screen and (max-width: 1300px) {
  .heroSection-svg {
    margin-top: -220px;
  }
  .heroSection-hr {
    margin-top: 2px;
  }
}

@media screen and (max-width: 1200px) {
  .heroSection-svg {
    margin-top: -200px;
  }
  .heroSection-hr {
    margin-top: 2px;
  }
}

@media screen and (max-width: 1080px) {
  .heroSection-svg {
    margin-top: -185px;
  }
  .heroSection-hr {
    margin-top: 2px;
  }
}

@media screen and (max-width: 990px) {
  .heroSection-svg {
    margin-top: -175px;
  }
  .heroSection-hr {
    margin-top: 2px;
  }
}

@media screen and (max-width: 950px) {
  .heroSection-svg {
    margin-top: -163px;
  }
  .heroSection-hr {
    margin-top: 5px;
  }
}

@media screen and (max-width: 890px) {
  .heroSection-svg {
    margin-top: -152px;
  }
  .heroSection-hr {
    margin-top: 5px;
  }
}

@media screen and (max-width: 840px) {
  .heroSection-svg {
    margin-top: -140px;
  }
  .heroSection-hr {
    margin-top: 5px;
  }
}

@media screen and (max-width: 770px) {
  .heroSection-svg {
    margin-top: -130px;
  }
  .heroSection-hr {
    margin-top: 6px;
  }
}

@media screen and (max-width: 720px) {
  .heroSection-svg {
    margin-top: -115px;
  }
  .heroSection-hr {
    margin-top: 6px;
  }
}

@media screen and (max-width: 650px) {
  .heroSection-svg {
    margin-top: -90px;
  }
  .heroSection-hr {
    margin-top: 7px;
  }
}

@media screen and (max-width: 550px) {
  .heroSection-svg {
    margin-top: -80px;
  }
  .heroSection-hr {
    margin-top: 17px;
  }
}

@media screen and (max-width: 480px) {
  .heroSection-svg {
    margin-top: -35px;
  }
  .heroSection-hr {
    margin-top: 8px;
  }
}

@media screen and (max-width: 380px) {
  .heroSection-svg {
    margin-top: -32px;
  }
  .heroSection-hr {
    margin-top: 10px;
  }
}
/* hero section end */
/* // */

/* new arrival section */

.viewDetailsBtns:hover {
  background-color: #0f6efd !important;
  font-size: 18px !important;
  transition: all 0.6s ease-in-out;
}

/* single product page section start */
/* .. */
.viewDetailsBtnsSingle1:hover {
  background-color: green !important;
  font-size: 18px !important;
  transition: all 0.6s ease-in-out;
}

.viewDetailsBtnsSingle2:hover {
  background-color: rgba(245, 35, 35, 0.893) !important;
  font-size: 18px !important;
  transition: all 0.6s ease-in-out;
}

@media screen and (max-width: 1750px) {
  .productDescriptionP {
    padding-right: 15px !important;
  }
}

@media screen and (max-width: 767px) {
  .productDescriptionP {
    padding-right: 0px !important;
  }
  .subscribeBTN {
    margin-top: -5px !important;
  }
}
/* single product page section end */

.footerLast {
  margin-top: 100px !important;
}

@media screen and (max-width: 840px) {
  .footerP {
    text-align: justify;
  }
}

@media screen and (max-width: 600px) {
  .priceFontSize {
    margin-left: 20px !important;
  }
}
